# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy
from scipy import stats
plt.style.use("seaborn")

import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode , iplot , plot
init_notebook_mode(connected = True)
import cufflinks as cf
cf.go_offline()

# import statsmodels.formula.api as smf
from sklearn import (metrics, linear_model, preprocessing)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error , r2_score
# from functions import *  # this is for my functions notebook
from sklearn.model_selection import train_test_split, cross_validate, cross_val_score, KFold
from statsmodels.regression.linear_model import OLS
from statsmodels.tools import add_constant

from sklearn.ensemble import RandomForestClassifier
import itertools
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV ,StratifiedKFold, cross_val_score
from sklearn.metrics import classification_report , accuracy_score , roc_auc_score


import warnings
warnings.simplefilter(action = "ignore" , category = FutureWarning)

# This gives you the location of your directory since i dont want to be dealing with any merge conflicts today.

In [2]:
import os
print ('default',os.getcwd())

default /Users/flatironschool/Desktop/iNueron/colabs/Hackathon-Ineuron/Josh_notebooks

# Conecting to the path of the dataframe

In [3]:
pd.set_option('display.max_rows', 200)

pd.options.mode.chained_assignment = None

path = 'Data/cardio_train.csv'  # note i kept the csv file in dataset file so its easy to call from there
df=pd.read_csv(path, na_values='NA')
df

      id;age;gender;height;weight;ap_hi;ap_lo;cholesterol;gluc;smoke;alco;active;cardio
0                988;22469;1;155;69.0;130;80;2;2;0;0;1;0
1                989;14648;1;163;71.0;110;70;1;1;0;0;1;1
2                990;21901;1;165;70.0;120;80;1;1;0;0;1;0
3                991;14549;2;165;85.0;120;80;1;1;1;1;1;0
4                992;23393;1;155;62.0;120;80;1;1;0;0;1;0
...                                                  ...
69296          99993;19240;2;168;76.0;120;80;1;1;1;0;1;0
69297         99995;22601;1;158;126.0;140;90;2;2;0;0;1;1
69298         99996;19066;2;183;105.0;180;90;3;1;0;1;0;1
69299          99998;22431;1;163;72.0;135;80;1;2;0;0;0;1
69300          99999;20540;1;170;72.0;120;80;2;1;0;0;1;0

[69301 rows x 1 columns]

In [ ]:
# Data looks messy and a simple trick will put it in order

In [5]:
df = pd.read_csv(path , na_values = 'NA' , sep=";")
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,22469,1,155,69.0,130,80,2,2,0,0,1,0
1,989,14648,1,163,71.0,110,70,1,1,0,0,1,1
2,990,21901,1,165,70.0,120,80,1,1,0,0,1,0
3,991,14549,2,165,85.0,120,80,1,1,1,1,1,0
4,992,23393,1,155,62.0,120,80,1,1,0,0,1,0

In [6]:
df.shape

(69301, 13)

In [ ]:
df.isna().sum()